@font-face {
    font-family: 'gilroyextrabold';
    src: url('/fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gilroylight';
    src: url('/fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('/fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html{
    margin: 0;
    padding: 0;
}
.container{
padding: 0;
margin: 0;
}

.rubik{
    font-family: Rubik, sans-serif;
 
}

#headerTop{
    background-color: #0e1b33;
    font-family: Rubik, sans-serif;
    font-size: 12pt;
}

#headerTopSocial .fab{ 
    padding-right: 10px;
}

.logoImg{
    width: 50px;
}
header #headerMenu{
    font-family: 'gilroyextrabold', Arial, sans-serif;
   padding: 0;
   font-size: 12pt;
    
}
.logoName{
    font-size: 30pt;

}
.spanDot{
color: #ff8155;
}

#dropdownMenuButton{
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    height: 45px;
    width: 70px;
}
#phoneButton{
    border-radius: 35px;
    background: #ff8155;
    border: #ff8155;
    width: 180px;
    height: 45px;
    
}
#headerNav ul li{
   list-style: none;
   display: inline;
   font-size: 12pt;

}
.logBtn{
    border-radius: 35px;
    background: #ff8155;
    border: #ff8155;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.logBtn a{
    margin-top: 11px;
    
    
}
#storeHeadline{
    background-image: url("/images/bgdots1.png");
    height: 400px;
    
}
#digitalMarketing{
    padding-top: 110px;
    font-family: Rubik, sans-serif;
    font-size: 18pt;
    letter-spacing: 3px;

}
#productStore{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 80pt;
}
#features{

    margin-top: 110px;

    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    
}


.featureBox{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1fr;
 
}
.featureBox .icon{
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: right;

  
}

.featureBox h1{
    font-size: 22px;
    grid-column: 2;
    grid-row: 1;
    font-family: 'gilroyextrabold', Arial, sans-serif;
   display: flex;
   align-items: flex-end;
   line-height: 0.7;
   

    
}
.featureBox p{
    font-size: 16px;
    grid-column: 2;
    grid-row: 2;
    font-family: 'gilroylight', Arial, sans-serif;
    display: flex;
    align-items: flex-start;
}
#presentationOptions{
    margin-top: 110px;
    margin-bottom: 50px;
}

#viewGridBg{
    background: lightgray;
    border-radius: 100px;
    height: 45px;
    width: 45px;
    text-align: center;

}
#viewGridBg img{
    margin-top: 4px;
}

#viewListBg{
    background: #ff8155;
    border-radius: 100px;
    
    height: 45px;
    width: 45px;
    text-align: center;
    
}
#viewListBg img{
    margin-top: 4px;
}
#productsShow {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    height: 50px;
    width: 70px;
    color: #a9b2c0;
    background-color: #ffffff;
    appearance: none;
    -moz-appearance: none;
}

#sortButton{
border: 2px solid rgba(0, 0, 0, 0.1);
border-radius: 35px;
height: 50px;
width: 200px;
color: #a9b2c0;
background-color: #ffffff;
appearance: none;
-moz-appearance: none;
}
#searchArea{
    position: relative;

}
#search{
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    color: #000000;
    height: 50px;
  
    
}
#search::placeholder{
    color: #a9b2c0;
  
}
#searchIconContainer{
    position: absolute;
    top: 14px;
    right: 30px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    color: #a9b2c0;
}
/* Product */



#productArea{



display: grid;
grid-template-columns: auto auto auto;
justify-content: space-between;
padding: 0;




}
.product {
    grid-column: auto;
    display: grid;
    grid-template-columns: 170px 170px;
    grid-template-rows: 400px auto auto;
    gap: 2px 2px;
    margin: 20px 0px;
    width: 340px;
    
    
    
}

.productImage{

    width: 340px;
    height: 400px;
    grid-column: 1 / span 2;
    grid-row: 1;
    margin: 0;
    
}
.productName{
font-size: 22px;
grid-column: 1 / span 2;
grid-row: 2;
font-family: 'gilroyextrabold', Arial, sans-serif;
font-size: 16pt;
}
.productPrice{
    color: #ff8155;
    grid-column: 1;
    grid-row: 3;
    font-family: Rubik, sans-serif;
    font-size: 14pt;
    
}
.productRating {
    
    color: #ffba00;
    grid-column: 2;
    grid-row: 3;
    text-align: right;
    font-size: 10pt;
    letter-spacing: 4px;
}
#stars{
    width: 100px;
}
.gray{
    color: #a9b2c0;
}
.gold   {
    color: #ffba00;
}
#productPageCount{
    margin: 30px 0 110px 0;
}
.productPageCountNav{
    background: lightgray;
    color: #ffffff;
    border-radius: 100px;
    height: 75px;
    width: 75px;
    margin: 10px;
    text-align: center;
    justify-items: center;
}
#btn2{
    background: #ff8155;
}
footer{
    background-image: url("/images/bgdots2.png");
    height: 609px;
    font-family: Rubik, sans-serif;

}
#footerTop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 100px;
    gap: 80px;
    justify-content: space-between;
}
#footerAbout{   
    grid-column: 1;
    width: 350px;
}
#footerLogoImg{
    margin-top: 10px;
}
#footerName{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    color: #ffffff;
}
#footerAboutInfo{
    margin-left: 0;
    padding-left: 0;
    color: #a9b2c0;
}



#footerLinks{
    grid-column: 2;
    color: #a9b2c0;
    width: 350px;

}
#footerLinks td:hover{
    cursor: pointer;
}
#footerLinks h4{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 22pt;
    color: #ffffff;
}
#footerNews{
    grid-column: 3;
}

.socialButton{
    background: #ffffff;
    border-radius: 100px;
    height: 45px;
    width: 45px;
    text-align: center;
    margin-right: 10px;
}

#footerLinks td{
    height: 45px;
    width: 200px;
}
#footerNews{
    width: 350px;

}
#footerNews h4{
    font-family: 'gilroyextrabold', Arial, sans-serif;
    font-size: 22pt;
}
.newsItem{
display: grid;
grid-template-columns: 80px auto;
grid-template-rows: auto auto;
padding-bottom: 20px;
}
.newsItemImg{
    width: 80px;
    height: 70px;
    background-color: lightgray;
    grid-column: 1;
    grid-row: 1 / span 2;
}
.newsItemHeadline{
  
    grid-column: 2;
    grid-row: 1;
    margin-left: 20px;
    font-family: 'gilroyextrabold', Arial, sans-serif;

}
.newsItemDate{
  
    grid-column: 2;
    grid-row:  2;
    margin-left: 20px;
    font-size: 14px;
    color: #a9b2c0;
}
#footerBottom{
    padding-top: 50px;
}
#copyright{
    color: #a9b2c0;
    font-size: 11pt;
}
.toTop{
    background: #15ee90;
    letter-spacing: 3px;
    border-radius: 50px;
height: 50px;
width: 200px;
   
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.toTop:hover{
    cursor: pointer;
}
