<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport " content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inlämning Dennis Nilsson</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="css/style.css">


</head>

<body ng-app="mainApp" ng-controller="mainController">
    <div class="container mw-100">
        <header>
            <div id="headerTop" class="row text-white w-100">
                <div id="headerTopSocial" class="col-4 p-1 offset-2">
                    <a class="ml-3 fab fa-facebook-f "></a> <a class="fab fa-twitter "></a> <a
                        class="fab fa-behance"></a> <a class="fab fa-pinterest "></a> <a class="fab fa-youtube "></a>

                    <a href="#" class="text-white ml-5 pr-4">FAQ</a> <a href="#" class="text-white">TERMS</a></div>
                <div id="headerTopEmail" class="col-4 pt-1 text-right"> <i class="far fa-envelope mr-2"></i>
                    info@webmail.com</div>
            </div>

            <div id="headerMenu" class="row my-5 col-8 offset-2">
                <div id="HeaderLogoArea" class="row">
                    <div id="headerLogo" class="logoImg d-flex align-items-center"><img src="/images/logo.svg" alt="">
                    </div>
                    <div id="headerName" class="logoName pl-2 d-flex align-items-center"> Pohat<span
                            class="spanDot">.</span></div>
                </div>
                <div id="headerLang" class="pl-5  d-flex align-items-center">
                    <div class="dropdown d-inline">
                        <button class="btn rubik dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            EN
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">EN</a>
                            <a class="dropdown-item" href="#">SE</a>

                        </div>
                    </div>
                    <div class="d-inline pl-3 ">
                        <button id="phoneButton" class="btn rubik btn-secondary px-4">+90878 87 878 7</button>
                    </div>
                </div>
                <div id="headerNav" class="d-flex rubik align-items-center mt-3 ">
                    <ul>
                        <li class="px-3 "> <a href="#" class="text-reset">Home</a> </li>
                        <li class="px-3"><a href="#" class="text-reset">About</a></li>
                        <li class="px-3"><a href="#" class="text-reset">Services</a></li>
                        <li class="px-3"><a href="#" class="text-reset">Pages</a></li>
                        <li class="px-3"><a href="#" class="text-reset">News</a></li>
                        <li class="px-3"><a href="#" class="text-reset">Contact</a></li>

                    </ul>
                </div>
                <div class=" pl-4 d-flex align-items-center  ">
                    <button id="quoteButton" class="btn rubik btn-secondary ">GET A QUOTE</button>
                </div>

            </div>
        </header>
        <div id="storeHeadline" class=" text-center text-white ">
            <div id="digitalMarketing" class="">DIGITAL MARKETING</div>
            <div id="productStore">Product Store</div>
            <div id="storeHeadlineNav" class="rubik">
                <a href=" #" class="text-reset">Home</a> |
                <a href="#" class="text-reset">Shop</a>
            </div>
        </div>
        <div id="featuresArea">
            <div id="features" class="row col-8 offset-2 text-left py-5 ">

                <div id="shipping" class="col-3 featureBox">
                    <div class="icon"> <img class="d-flex justify-content-end mr-3" src="/images/shipping.svg" alt="">
                    </div>
                    <h1>Free Shipping</h1>
                    <p>Orders over $100</p>

                </div>
                <div id="return" class="col-3 featureBox ">
                    <div class="icon"> <img class="d-flex justify-content-end mr-3" src="/images/return.svg" alt="">
                    </div>
                    <h1>Free Return</h1>
                    <p>In 30 Days</p>
                </div>
                <div id="secure" class="col-3 featureBox">
                    <div class="icon"> <img class="d-flex justify-content-end mr-3" src="/images/secure.svg" alt="">
                    </div>
                    <h1>100% Secure</h1>
                    <p>Shipping</p>
                </div>
                <div id="price" class="col-3 featureBox">
                    <div class="icon"> <img class="d-flex justify-content-end mr-3" src="/images/price.svg" alt="">
                    </div>
                    <h1>Best Price</h1>
                    <p>Granted</p>
                </div>

            </div>

        </div>
        <div id="presentationOptions" class="row offset-2">
            <div id="viewArea" class="row rubik col">
                <div id="viewGrid" class="offset-2 d-flex align-items-center">
                    <div id="viewGridBg" class=" ml-3 p-2">
                        <img src="/images/gridview.svg" alt="">
                    </div>
                </div>
                <div id="viewList" class=" ml-4 d-flex align-items-center">
                    <div id="viewListBg"> <img src="/images/listview.svg" class=" p-2" alt="">
                    </div>
                </div>
            </div>
            <div id="results" class="col offset-1 mr-3 d-flex align-items-center">
                <label for="productsShow">Products per page: </label>
                <select name="productsShow" id="productsShow" class="dropDown" ng-model="productsShow">
                    <option value="5">5</option>
                    <option value="10" selected="selected">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                Showing 1-{{ productsShow }} of {{ productsTotal }} results</div>

            <div id="sort" class="col dropdown d-flex align-items-center">
                <select name="sortButton" id="sortButton" class="btn dropdown-toggle" 
                   ng-model="sortColumn" aria-placeholder="Sort By">
                    <option value="productname" ng-click="sortData('productname')">Product Name</option>
                    <option value="category" ng-click="sortData('category')">Category</option>
                    <option value="company" ng-click="sortData('company')">Company</option>
                </select>
        
            </div>
            <div id="searchArea" class="col d-flex align-content-center">

                <input id="search" type="search" class="form-control" placeholder="Search from here...."
                    ng-model="searchText">
                <div id="searchIconContainer">
                    <div class="searchIcon"></div>
                    <i class="fas fa-search"></i>
                </div>
            </div>
        </div>

        <div id="listView" class="d-flex justify-content-center ">
            <table>
                <thead>
                    <tr>
                        <th>
                            Product
                            
                        </th>
                        <th >
                            Category
                            
                        </th>
                        <th >
                            Company
                        </th>
                        <th>Info</th>
                        <th >
                            Price
                        </th>
                        <th>
                            Rating
                        </th>
                        <th>
                            In Stock
                        </th>
                        <th>
                            Stock last checked
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products | orderBy:sortColumn:reverseSort | limitTo:productsShow | filter: searchText">
                        <td>{{ product.productname }}</td>
                        <td>{{ product.category | uppercase }}</td>
                        <td>{{ product.company }}</td>
                        <td>{{ product.shortdescription }}</td>
                        <td>{{ product.price | currency: "" }}</td>
                        <td>{{ product.rating  }}</td>
                        <td class="center-text">{{ product.instock | number }}</td>
                        <td>{{ product.instockdate | date: "yyyy-MM-dd" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>




        <div id="productPageCount" class="rubik  justify-content-center row">

            <button class="productPageCountNav btn d-flex align-items-center justify-content-center"> <i
                    class="fas fa-arrow-left"></i>
            </button>
            <button class="productPageCountNav btn d-flex align-items-center justify-content-center">
                01
            </button>
            <button id="btn2" class="productPageCountNav btn d-flex align-items-center justify-content-center">
                02
            </button>
            <button class="productPageCountNav btn d-flex align-items-center justify-content-center">
                ...
            </button>
            <button class="productPageCountNav btn d-flex align-items-center justify-content-center">
                04
            </button>
            <button class="productPageCountNav btn d-flex align-items-center justify-content-center">
                <i class="fas fa-arrow-right"></i>
            </button>
        </div>

        <footer class="text-white">
            <div id="footerTop" class="col-8 offset-2">
                <div id="footerAbout">
                    <div id="FooterLogo" class="d-flex">
                        <div id="footerLogoImg" class=" logoImg "><img src="/images/logo.svg" alt="">
                        </div>
                        <div id="footerName" class=" logoName pl-2 "> Pohat<span class="spanDot">.</span></div>
                    </div>
                    <div id="footerAboutInfo" class="d-flex pt-4">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, vitae
                            dolore. Consequuntur quasi eaque voluptas, dicta, nam blanditiis facere saepe aliquid
                            aliquam ut
                            delectus? Officia sint tempora placeat cumque, eius et similique deserunt quo debitis
                            aspernatur
                            id vitae harum beatae.</p>
                    </div>
                    <div id="footerSocial" class="d-flex mt-5">
                        <button class=" btn socialButton"><a class="fab fa-facebook-f text-center"></a></button>
                        <button class=" btn socialButton"><a class="fab fa-twitter  "></a></button>
                        <button class=" btn socialButton"><a class="fab fa-behance "></a></button>
                        <button class=" btn socialButton"><a class="fab fa-youtube "></a></button>
                        <button class=" btn socialButton"><a class="fab fa-pinterest "></a></button>
                    </div>
                </div>
                <div id="footerLinks">
                    <h4>More Links<span class="spanDot">.</span></h4>
                    <table class="mt-4 ">
                        <tr>
                            <td>Paid SEO</td>
                            <td>Services</td>
                        </tr>
                        <tr>
                            <td>Digital Marketing</td>
                            <td>Our Team</td>
                        </tr>
                        <tr>
                            <td>Strategy Planning</td>
                            <td>News</td>
                        </tr>
                        <tr>
                            <td>Offline SEO</td>
                            <td>Shop</td>
                        </tr>
                        <tr>
                            <td>Page Rank Up</td>
                            <td>Contact Us</td>
                        </tr>
                        <tr>
                            <td>User Panel</td>
                            <td>Book Appointment</td>
                        </tr>
                    </table>

                </div>
                <div id="footerNews">
                    <h4>News Feed<span class="spanDot">.</span></h4>
                    <div id="newsFeed" class="mt-5">
                        <div class="newsItem">
                            <div class="newsItemImg"><img src="" alt=""></div>
                            <div class="newsItemHeadline">
                                <h6>Lorem ipsum dolor sit amet, consectetur.</h6>
                            </div>
                            <div class="newsItemDate">15 July 2019</div>
                        </div>
                        <div class="newsItem">
                            <div class="newsItemImg"><img src="" alt=""></div>
                            <div class="newsItemHeadline">Lorem ipsum dolor sit amet, consectetur.</div>
                            <div class="newsItemDate">15 July 2019</div>
                        </div>
                        <div class="newsItem">
                            <div class="newsItemImg"><img src="" alt=""></div>
                            <div class="newsItemHeadline">Lorem ipsum dolor sit amet, consectetur.</div>
                            <div class="newsItemDate">15 July 2019</div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="footerBottom" class="row col-8 offset-2 justify-content-between">
                <div id="copyright" class="d-flex align-items-center">Copyright By </div>
                <div class="toTop">
                    BACK TO TOP
                </div>
            </div>
        </footer>

    </div>


    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script src="js/script.js"></script>
    <script src="script/products.js"></script>
    <script src="script/app.js"></script>

</body>

</html>